---
title: Home
layout: layouts/base.njk
---

{% for tag in collections | getKeys %}
    {% if tag != "all" %}
        <h1>{{ tag }}</h1>
        {% for post in collections[tag] %}
            <a href={{ post.url }}>{{ post.data.title }}</a><br>
        {% endfor %}
    {% endif %}
{% endfor %}