nav ul {
    list-style: none;
    padding: 0;
}
nav ul li a {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}
nav ul li a.active {
    font-weight: bold;
}

blockquote {
    border-left: 5px solid #EEE;
    padding: 5px 15px;
    margin: 0;
    width: 25%;
}

p code {
    background-color: #CCC;
    padding: 1px 2px;
}
pre:has(code) {
    background-color: #CCC;
    padding: 5px 2px;
}