<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or "Wasitiyyah" }}</title>
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
		<header>
			{# add navigation #}
			<nav>
				<ul>
					<li><a {% if page.url != "/" %}href="/"{% endif %}>home/</a>
				</ul>
			</nav>
		</header>

		<main>
			{{ content | safe }}
		</main>
	</body>
</html>